:root{

/* second palette */
    /* --palette-brown :  #7c4c35;
    --palette-sand : #cda784;
    --palette-green : #778b40;
    --palette-soft-blue : #aec2c9;
    --palette-blue : #3d495a; */


    /* third palette */
    --aqua-color: #47A992;
    --brown-color: #482121;
    --red-color: #7A3E3E;
    --white-color: #EEEEEE;
}
body{
    display: flex;
    flex-direction: column;
}


header{
    background-color: var(--brown-color);
    color: var(--white-color);
    padding-left: 30px;
}
/* .headMenu{
} */
.option:hover{
    cursor: pointer;
}
.option>a{
    color: var(--white-color);
}
.option>a:hover{
    color: white;
}


main{
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    /* margin: 20px; */
}
article{
    flex: 2;
    overflow-y: auto;
    /* background-color: var(---color); */
    /* color: white; */
    /* background-color: ; */
}
.content{
    display: flex;
    flex-direction: row;
}
.content > *{
    margin: 10px;
}
.content > img{
    box-shadow: 2px 2px 10px var(--brown-color);
}

#aboutMe > img{
    height: 8rem;
    width: 8rem;
    border-radius: 100%;
}
#pinterestInterface > img{
    /* height: auto; */
    height: clamp(50%,12rem,12vw);
    width: clamp(50%,20rem,20vw);
    align-self: center;
}
#bankWebsite > img {
    height: clamp(50%,10rem,10vw);
    width: clamp(50%,20rem,20vw);
    align-self: center;
}

aside{
    flex: 1;
    overflow-y: auto;
    background-color: var(--white-color);

}
footer{
    color: var(--white-color);
    background-color: var(--red-color);
}
footer a{
    color: var(--white-color);
}